@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #376faf;
    --cor-secundaria: #ffffff;
    --cor-destaque: #f8d76d;
    --cor-link: #ffa600;
    --cor-texto: #222880;
    --background: #6c75b5;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-destaque);
    background-color: var(--background);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.card {
     width: 400px;
     height: 1000px; 
   }

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-destaque)
}

a:hover{
    color: var(--cor-link);
}
